@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    min-height: 100%;
}

header {
	width:100%; /* Establecemos que el header abarque el 100% del documento */
    height: 120px;
	overflow:hidden; /* Eliminamos errores de float */
	background:#252932;
	margin-bottom:2rem;
}

.inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    height: 30px;
}

.tittle{
    text-align: center;
    font-family: "Assistant", sans-serif;
    font-optical-sizing: auto;
    color: #ffffff;
    margin-top: 1rem;
}

.text{
    padding: 15px;
    color: #051a24;
    font-family: 'josefin sans';
}

.w-80{
    display: flex;
    justify-content: center;
    width: 80%;
    margin-left: 8rem;
    box-shadow: 10px 10px 5px rgb(153, 153, 153);
}

.carousel-control-prev{
    margin-left: 3rem;
}

.carousel-control-next{
    margin-right: 3.5rem;
}

.carousel-control-next-icon,.carousel-control-prev-icon{
    color: rgb(0, 0, 0);    
}

.row{
    justify-content: center;
}

.ef{
    font-family: 'josefin sans';
    color:  #000000;
    padding: 1rem;
}
.us{
    display: flex;
    flex-direction: row;
    padding: 2rem;
}

.tit{
    margin-left: 10rem;
    color: #000000;
}

.us img{
    width: 180px;
    height: 120px;
    margin-left: 23%;
}

.sub{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    margin-top: 3rem;
    background-color: rgb(192, 192, 192);
}

.sub h3{
    font-family: 'josefin sans';
    color:  #252932;
}

.buscarTurnos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5rem;
}

.but{
    display: flex;
    justify-content: center;
}

.but a{
    font-family: 'josefin sans';
    text-decoration: none;
    color: #4c5b63;
}

#agendar{
    background-color: #252932;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
}

#agendar:hover{
    background-color: #4c5b63;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title{
    font-family: 'josefin sans';
}

.card-text{
    font-family: 'josefin sans';
}

.buscarTurnos input{
    width: 100%;
    padding: 10px;
    margin: .6rem;
    border-radius: 8px;
    border-color: #697175;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1rem;
    justify-content: center;
}

.card{
    margin: .5rem;
}

.btn{
    background-color: rgb(119, 29, 13) !important;
    border-color: rgb(83, 21, 10) !important;
}

.btn:hover{
    background-color: rgb(136, 56, 42) !important;
}

#misTurnos{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color:  #252932;
}
.der{
    color: #ffffff;
}

.follow{
    color: #ffffff;
}

.foot{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #252932;
}

.x{
    border-radius: 20px;
}

.ig{
    border-radius: 10px;
}

.confirmar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#tablaTurnos{
    width: 100%;
    border-collapse: collapse;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.total{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    font-weight: bold;
}

.inp{
    border-radius: 5px;
    margin: 1rem;
}

.lab{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
}

.ppal{
    display: flex;
    justify-content: center;
    margin: 1rem;
}

#pag{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    color:  #252932;
}