@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');


* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    min-height: 100%;
}

header {
	width:100%; /* Establecemos que el header abarque el 100% del documento */
    height: 120px;
	overflow:hidden; /* Eliminamos errores de float */
	background:#252932;
	margin-bottom:2rem;
}

.inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    height: 30px;
}


.tittle{
    text-align: center;
    font-family: "Assistant", sans-serif;
    font-optical-sizing: auto;
    color: #ffffff;
    margin-top: 1rem;
}

.text{
    padding: 15px;
    color: #051a24;
    font-family:  'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.w-80{
    display: flex;
    justify-content: center;
    width: 80%;
    margin-left: 8rem;
}

.carousel-control-prev{
    margin-left: 3rem;
}

.carousel-control-next{
    margin-right: 3.5rem;
}

.carousel-control-next-icon,.carousel-control-prev-icon{
    color: rgb(0, 0, 0);    
}

.row{
    justify-content: center;
}

.us{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.tit{
    text-align: center;
}

.us img{
    width: 180px;
    height: 120px;
    margin-left: 43%;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: auto;
}

form.row.g-3{
    margin-left: 12rem;
    padding: 1rem;
}

.row {
    width: 70%;
    padding: 1rem;
    background-color: #e1e1e1;
    border-radius: 2rem;
}

.form-label{
    font-family:  'Poppins', sans-serif;
}

.form-check{
    display: flex !important;
    justify-content: center;
}

.der{
    color: #ffffff;
}

.follow{
    color: #ffffff;
}

.foot{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #252932;
}



.x{
    border-radius: 20px;
}

.ig{
    border-radius: 10px;
}